
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #000000;
  background-color:#d1acac;
  background-image: url(img1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
}

h1 {
  color: rgb(3, 3, 3);
}

label {
  display: block;
  font-weight: bold;
}

input[type="number"] {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#resultado {
  font-weight: bold;
  margin-top: 10px;
}